<div class="instagram">
  <img src="https://netlify.toolsontech.com/images/instabg.png" />
  <img class="center" src="https://netlify.toolsontech.com/images/thumbnail.png" /> 
  <img src="https://netlify.toolsontech.com/images/instaoverlay.png" />
  <div class="text">Hello World this is a lot of text and lets</div>
</div>
