body { margin: 0px; padding: 0px; }

.instagram {
  margin: 0px;
  padding: 0px;
  width: 1080px;
  height: 1080px;  
}

img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.center {
  display: block;
  position: relative;
  top: 150px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(10px 10px 4px #000);
}

.text {
  position: absolute;
  top: 0px; 
  left: 0px;
  padding-top: 700px;
  max-height: 380px;
  color: white;
  font-size: 75pt;
  width: 1080px;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  filter: drop-shadow(10px 10px 4px #000);

}
